.box
{
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: column;
    max-width: 300px;
    grid-gap: 20px;
    list-style: none;
}

.box li
{
    display: flex;
    flex-direction: column;
    background: #FFF;
    border-radius: 4px;
    padding: 13px;
}

.box img
{
    max-width: 280px;
    max-height: 220px;
    border-radius: 4px;
}

.box strong
{
    font-size: 16px;
    line-height: 20px;
    color: #0a0707;
    margin-top: 5px;
}

.box button
{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background: #0a0707;
    border: 0;
    border-radius: 4px;
}

.box button div
{
    display: flex;
    align-items: center;
    padding: 10px;
}