body
{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    background-color: darkgray;
    -webkit-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root
{
    max-width: 500px;
    margin: auto;
    background-color: darkseagreen;    
}

button
{
    cursor: pointer;
}